Deal here
<br />
<br />
<form>
  <input type="text" [(ngModel)]="deal.id" name="id" />
  <br />
  <br />
  <input type="text" [(ngModel)]="deal.dealName" name="dealName" />
  <br />
  <br />
  <input type="number" [(ngModel)]="deal.purchasePrice" name="purchasePrice" />
  <br />
  <br />
  <input type="string" [(ngModel)]="deal.address" name="address" />
  <br />
  <br />
  <input type="number" [(ngModel)]="deal.NOI" name="NOI" />
  <br />
  <br />
  <input type="number" [(ngModel)]="deal.capRate" name="capRate" />
</form>
